{% extends 'base.html'%}


{% block title%}
    Register
{% endblock %}


{% block body%}

<div id="body_akk_reg">
    <form method="post">
       Имя<br>
       <input type="text" name="name"><br>
       Фамилия<br>
       <input type="text" name="surname"><br>
       Логин<br>
       <input type="text" name="login"><br>
       mail<br>
       <input type="email" name="mail"><br>
       Пароль<br>
      <input type="password" name="password"><br>
      <button type="submit" id="sing-in" class="btn-login"> Зарегестрироваться</button><br>
    </form>

</div>
{% endblock %}